[submodule "Vulture/libs/spdlog"]
	path = Vulture/libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Vulture/libs/glm"]
	path = Vulture/libs/glm
	url = https://github.com/icaven/glm
[submodule "Vulture/libs/nativefiledialog"]
	path = Vulture/libs/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog
